/** @format */

.createPostContainer {
  position: relative;
  width: 90%;
  max-width: 550px;
  background: white;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.createPostContainerDark {
  background: var(--Tertiary);
}

.createPostDescription {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 80px;
}

.createPostInitial {
  display: flex;
  background: var(--secondary);
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.createPostAuthor {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  color: black;
  overflow-wrap: break-word;
}

.createPostAuthorDark {
  color: white;
}

.createPostImageLabel {
  display: inline-block;
  font-size: 15px;
  color: black;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.createPostImageLabel:hover {
  text-decoration: underline;
  cursor: pointer;
}

.createPostImageLabelDark {
  color: white;
}

.cross {
  margin-left: 8px;
}

.crossDark {
  color: white;
}

.cross:hover {
  cursor: pointer;
}

.createPostImageInput {
  display: none;
}

.createPostTextAreaLabel {
  font-weight: bold;
}

.createPostTextAreaLabelDark {
  color: white;
}

.createPostFormTextArea {
  border: none;
  resize: none;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  background: #e7e7e7;
  border-radius: 10px;
  font-size: 15px;
}

.createPostFormTextAreaDark {
  background: white;
}

.createPostPublishButton {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  color: black;
  background: var(--secondary);
  font-weight: bold;
  font-size: 14px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.createPostPublishButton:hover {
  cursor: pointer;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .createPostAuthor {
    font-size: 16px;
  }
  .createPostPublishButton {
    padding: 12px;
  }
}
