.postContainer {
  position: relative;
  width: 90%;
  max-width: 550px;
  background: white;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.postContainerDark {
  background: var(--Tertiary);
}

.postDescrition {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.postinitial {
  display: flex;
  background: var(--secondary);
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.postDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 12px;
  color: black;
}

.postDetailsDark {
  color: white;
}

.postAuthor {
  font-weight: bold;
  font-size: 18px;
  margin-right: 35px;
}

.postAuthorDark {
  color: white;
}

.postAuthorIsAdmin {
  margin-right: 0px;
}

.postDate {
  font-size: 12px;
}

.postButton {
  border: none;
  color: white;
  padding: 10px;
  margin: 0px 15px 15px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  background: var(--primary);
  transition: all 0.3s;
}

.postButton:hover {
  cursor: pointer;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.4);
}

.postButtonText {
  margin-left: 10px;
  font-weight: bold;
}

.postContent {
  font-size: 15px;
  text-align: justify;
  margin: 5px 0px;
  color: black;
  white-space: pre-line;
}

.postContentDark {
  color: white;
}

.postLike {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  color: black;
}

.postLikeDark {
  color: white;
}

.postLikeIcon {
  margin-left: 5px;
}

.postLikeIcon:hover {
  cursor: pointer;
}

.postLikeIconLiked {
  color: green;
}

.postImage {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  margin: 15px auto 0px auto;
}

@media (max-width: 768px) {
  .postAuthor {
    font-size: 16px;
  }
}
